<suite thread-count="1" verbose="1" name="E-commerce portal automation">



    <test name="Purchase Product">

        <classes>
            <class name="TestRunner.ProductPurchaseTestRunner"/>
        </classes>
    </test>

      <test name="E-commerce portal login">
           <classes>
             <class name="TestRunner.LoginTestRunner"/>
         </classes>
      </test>

<!--    -->
<!--    <test name="Purchase Product">-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="purchase"></include>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="TestRunner.ProductPurchaseTestRunner"/>-->
<!--        </classes>-->
<!--    </test>-->

</suite>

